---
import Titulos from '../components/Titulos.astro';
---

<section class="w-3/4 m-auto py-8">
        <Titulos titulored="Humboldt" titulowhite="Comunidad"/>
        <div
    x-data="{}"
    x-init="$nextTick(() => {
        let ul = $refs.logos;
        ul.insertAdjacentHTML('afterend', ul.outerHTML);
        ul.nextSibling.setAttribute('aria-hidden', 'true');
    })"
    class="w-full inline-flex flex-nowrap overflow-hidden [mask-image:_linear-gradient(to_right,transparent_0,_black_128px,_black_calc(100%-128px),transparent_100%)]">
        <ul x-ref="logos" class="flex items-center justify-center md:justify-start [&_li]:mx-8 [&_img]:max-w-none animate-infinite-scroll">
            <li>
                <img class="w-[120px]" src="../src/img/1.webp" alt="Facebook" />
            </li>
            <li>
             <img class="w-[120px]" src="../src/img/2.webp" alt="Disney" />
            </li>
            <li>
                <img class="w-[120px]" src="../src/img/3.webp" alt="Airbnb" />
            </li>
            <li>
                <img class="w-[120px]" src="../src/img/4.webp" alt="Apple" />
            </li>
            <li>
                <img class="w-[120px]" src="../src/img/5.webp" alt="Spark" />
            </li>
            <li>
                <img class="w-[120px]" src="../src/img/6.webp" alt="Samsung" />
            </li>
            <li>
                <img class="w-[120px]" src="../src/img/7.webp" alt="Quora" />
            </li>
            <li>
                <img class="w-[120px]" src="../src/img/8.webp" alt="Sass" />
            </li>
        </ul>                
    </div>
</section>

