---
---

<footer class="p-4 bg-red-900 dark:bg-red-950 text-white">
    <div class="text-center">
      <p>
         © Unihumboldt - All rights reserved | Realizado por
        <a class="font-semibold" href="alexsus300@gmail.com"
          >Jesús Escobar</a>
      </p>
    </div>
  </footer>