---
const { h2 } = Astro.props
const { p } = Astro.props
const { source } = Astro.props
const { frase } = Astro.props
const { cita } = Astro.props
---
<div class="w-full h-full flex flex-col">
    <section class=" lg:bg-black my-2 mx-10 relative animate-slide-in-bottom animate-delay-300 animate-duration-slow lg:shadow-lg  lg:shadow-black">
        <div class="w-full h-full bg-gradient-to-b from-transparent to-80% to-black lg:absolute opacity-80"></div>
            <video class="h-full w-full lg:rounded-lg" autoplay=1 loop muted>
                <source src={source} type="video/mp4"> 
            </video>
        </div>
    </section>
</div>


