---
import Titulos from '../components/Titulos.astro';
---

<article class="flex flex-col lg:flex-row pt-36">
    <div class="pl-4 lg:pl-20 w-auto h-auto basis-3/5">
        <div class=" flex justify-center pb-8">
            <Titulos titulowhite="Universidad" titulored="Servicio"/>
        </div>
        <div class="w-full lg:w-11/12 ">
            <div class="ms:border-l-4 ms:border-red-950 ms:pl-4">
                <h3 class="text-red-800  dark:text-red-500 text-3xl lg:text-4xl pb-3 font-semibold ">Misión</h3>
                <p class="text-black dark:text-white text-xl lg:text-2xl pb-10 "> Tiene como misión fundamental la búsqueda de la verdad mediante la creación, asimilación y difusión del saber que se manifiesta en las funciones básicas de la investigación, docencia y extensión.</p>
            </div>
            <div class="ms:border-r-4 ms:border-red-950 ms:pr-4">
                <h3 class="text-red-900 dark:text-red-500 text-4xl pb-3 pr-10 text-right font-semibold ">Visión</h3>
                <p class="text-black dark:text-white text-2xl pr-10 :pb-10 text-right ">Tiene como misión fundamental la búsqueda de la verdad mediante la creación, asimilación y difusión del saber que se manifiesta en las funciones básicas de la investigación, docencia y extensión.</p>
            </div>
        </div>     
    </div>
    <div class="lg:basis-3/5 border-l-4 border-red-950 dark:border-red-500  pl-24"> 
        <div class" ">
            <img class="ms:hidden lg:float-center lg:w-4/6 rounded-lg shadow-md shadow-black dark:shadow-xl" src="../src/img/Alexander_Von_Humboldt.webp"></img>
            <div class="bg-black "></div>
        </div>
    </div>
</article>

<style>

</style>
