---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Página de la UAH" />
		<meta name="viewport" content="width=device-width" />
		<style>
			body{
				visibility: hidden;
			}
		</style>
		<script>  
		if (localStorage.getItem('darkMode') === 'true') { 
			document.documentElement.classList.add('dark'); 
		} 
		document.addEventListener('DOMContentLoaded', () => { 
			document.body.style.visibility = 'visible'; 
		});
		</script>
		<link rel="icon" type="image/svg+xml" href="../src/img/uah.webp" />
		<title>{title}</title>
	</head>	
	<body class="min-h-screen  bg-gradient-to-br  from-neutral-200 via-neutral-300 to-neutral-400 text-black">
		<div class="dark:bg-gradient-to-br dark:from-stone-950 dark:via-neutral-950 dark:to-neutral-900 black:text-white items-center ">
			<Header class="animate-fade-in"/>
			<main class="dark:text-white dark:bg-gradient-to-br dark:from-stone-950 dark:via-neutral-950 dark:to-neutral-900">
				<slot/>
			</main>
			<Footer  />
	
			<script type="text/javascript">
				(function(d, t) {
					var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
					v.onload = function() {
					  window.voiceflow.chat.load({
						verify: { projectID: '65f70238db58b04d7432cf4c' },
						url: 'https://general-runtime.voiceflow.com',
						versionID: 'production'
					  });
					}
					v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
				})(document, 'script');
			</script>
		</div>
	</body>
</html>


<style is:global>
	html {
		font-family: perpetua, sans-serif;
	}
	
</style>




